.main {
   background-color: rgb(227, 224, 224);
   padding: 20px 50px;
   .item {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 1px;
      grid-row-gap: 7px;
      @media  (max-width:1900px ) {
         grid-template-columns: repeat(8, 1fr);
         grid-template-rows: repeat(2, 1fr);
      }
      @media  (max-width:1600px ) {
         grid-template-columns: repeat(6, 1fr);
         grid-template-rows: repeat(2, 1fr);
      }
      @media  (max-width:1280px ) {
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(2, 1fr);
      }
   }

}